[package]
name = "zymbol-program"
version = "0.1.0"
edition = "2021"

[dependencies]
zymbol-interpreter = { path = "INTERPRETER_PATH_PLACEHOLDER" }
zymbol-ast = { path = "AST_PATH_PLACEHOLDER" }

[profile.release]
opt-level = 3
lto = true
strip = true
codegen-units = 1
